.search-area {
    display: flex;
    align-items: center;

    .flexibleDate {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}

.room-card {
    position: relative;

    .lst-rm {
        position: absolute;
        left: 2em;
        top: 1em;
        right: inherit;

        .lastmin {
            font-size: 12px;
            font-weight: 500;
            padding: 8px 10px;
            text-shadow: none;
            margin-right: 10px;
            border-radius: 0;
            background: #2196f3;
            color: #fff;
            font-style: initial;
        }
    }

    .roomImage {
        height: 220px;
        object-fit: cover;
    }

}

.packagesHeading {
    font-weight: 700;
    font-size: 18px;
}

.packagesDesc {
    height: 145px;
    min-height: 115px;
    text-align: justify;
    font-size: 12px;
    line-height: 20px;
    padding: 0px;
    margin: 0;
}

.pk-price {
    padding: 0 1rem;

    .packagesPriceCol {
        margin-top: 0;
        color: #4d4d4f;
        margin-right: 5px;
        margin-bottom: 5px;

        .from {
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            color: #424040;
        }

        .onlyRoomsValue {
            font-size: 12px;
            letter-spacing: .1rem;

            .onlyPkgPricetext {
                font-weight: 600;
                display: flex;
                flex-wrap: wrap;
                min-height: unset;
                line-height: 25px;

                .BEOCurrency {
                    float: left;
                    padding-right: 5px;
                    font-size: 13px;
                    font-weight: 700;
                }

                .BEOPrice {
                    font-weight: 600;
                    font-size: 13px;
                }
            }

            span.inclusivecss {
                font-size: 12px;
                font-weight: 500;
                letter-spacing: .1rem;
            }

            .hsbtn {
                display: inline-block;
                margin-top: 20px;
                font-size: 10px;
                color: #fff;
                background: #000000;
                border: 1px solid #000000;
                cursor: pointer;
                border-radius: 3px;
                padding: 5px 20px;
                text-transform: uppercase;
                line-height: 20px;
                font-weight: 600;
            }
        }
    }
}

.roomIcons {
    padding-top: 10px;

    a {
        padding: 0 10px;
        color: #000;

        .fa-solid,
        .fa {
            color: #6b645c;
        }
    }
}

.adult-icon {
    margin-top: 10px;
    font-size: 15px;
    justify-content: center;
    align-items: end;
    color: #000;
    position: relative;

    i.fa.fa-male {
        font-size: 20px;
    }
}

.roomTypeBox {
    background: #ffffff none repeat scroll 0 0;
    border-top: 1px solid #cdc8c8;
    box-shadow: none;
    margin: 0 0 1px;
    width: 100%;
    padding: 10px 0;

    .img-box {
        height: 200px;

        .packages_img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            background-size: 100% 100% !important;
            vertical-align: middle;
        }

        .more-images {
            position: relative;

            p {
                margin: auto;
                cursor: pointer;

                i {
                    font-size: 25px;
                    position: absolute;
                    right: 0.3em;
                    bottom: 0.3em;
                    color: #fff;

                    &:hover {
                        color: #E0E0E0;
                    }
                }
            }
        }
    }


}

.carousel-image {
    height: 250px;
    object-fit: fill;
    border-radius: 0.375rem;
}

.availablity {
    display: flex;
    letter-spacing: 0.3px;
    align-items: center;
}