<c-row>
    <c-col xs="8">
        <c-card class="mb-3">
            <c-card-body class="p-4">
                <div class="d-flex m-0 row w-100">
                    <c-row class="container">
                        <c-col sm="12" md="12" lg="12" class="c-block">
                            <label cLabel class="col-sm-3 text-end form-label m-0 m-2 me-4" for="RoomType">
                                Room Type
                                <i class="fa fa-star mand"></i>
                            </label>
                            <input autocomplete="off" placeholder="Enter Room Type" cFormControl name="RoomType"
                                type="text" [(ngModel)]="roomType.RoomType" />
                        </c-col>


                    </c-row>
                </div>

                <div class="d-flex m-0 row w-100">
                    <c-row class="container">
                        <c-col sm="12" md="6" lg="6" class="c-block">
                            <label cLabel class="col-sm-6 text-end form-label m-0 m-2 me-4" for="MemberDiscunt">
                                Member Discount %
                                <i class="fa fa-star mand"></i>
                            </label>
                            <input autocomplete="off" placeholder="Enter Member Discount %" cFormControl
                                name="MemberDiscunt" type="number" [(ngModel)]="roomType.MemberDiscunt" />
                        </c-col>

                        <c-col sm="12" md="6" lg="6" class="c-block">
                            <label cLabel class="col-sm-7 text-end form-label m-0 m-2 me-4" for="AgentCommission">
                                Agent Commisssion %
                                <i class="fa fa-star mand"></i>
                            </label>
                            <input autocomplete="off" placeholder="Enter Agent Commisssion %" cFormControl
                                name="AgentCommission" type="number" [(ngModel)]="roomType.AgentCommission" />
                        </c-col>
                    </c-row>
                </div>

                <div class="d-flex m-0 row w-100">
                    <c-row class="container">
                        <c-col sm="12" md="6" lg="6" class="c-block">
                            <label cLabel class="col-sm-6 text-end form-label m-0 m-2 me-4" for="IsOfferAvail">
                                Offer Available
                                <i class="fa fa-star mand"></i>
                            </label>
                            <c-form-check [switch]="true">
                                <input cFormCheckInput type="checkbox" [(ngModel)]="roomType.IsOfferAvail"
                                    name="IsOfferAvail" />
                                <label cFormCheckLabel></label>
                            </c-form-check>
                        </c-col>
                        <c-col sm="12" md="6" lg="6" class="c-block">
                            <label cLabel class="col-sm-6 text-end form-label m-0 m-2 me-4" for="available_to_agent">
                                Available To Agent
                                <i class="fa fa-star mand"></i>
                            </label>
                            <c-form-check [switch]="true">
                                <input cFormCheckInput type="checkbox" [(ngModel)]="roomType.available_to_agent"
                                    name="available_to_agent" />
                                <label cFormCheckLabel></label>
                            </c-form-check>
                        </c-col>

                    </c-row>
                </div>

                <div class="d-flex m-0 row w-100">
                    <c-row class="container">
                        <c-col sm="12" md="6" lg="6" class="c-block">
                            <label cLabel class="col-sm-3 text-end form-label m-0 m-2 me-4" for="offer_from">
                                Offer From
                                <i class="fa fa-star mand"></i>
                            </label>
                            <div class="position-relative">
                                <input cFormControl class="form-control" placeholder="dd-mm-yyyy" name="dtOfferFrom"
                                    ngbDatepicker #datepickerOfferFrom="ngbDatepicker" [(ngModel)]="dtOfferFrom"
                                    (dateSelect)="onDateSelectFrom($event)"
                                    [minDate]="{year: 1978, month: 1, day: 1}" />
                                <button class="btn btn-outline-secondary form-datepicker"
                                    (click)="datepickerOfferFrom.toggle()" type="button"><svg cIcon
                                        name="cilCalendar"></svg>
                                </button>
                            </div>
                        </c-col>

                        <c-col sm="12" md="6" lg="6" class="c-block">
                            <label cLabel class="col-sm-3 text-end form-label m-0 m-2 me-4" for="offer_from">
                                Offer To
                                <i class="fa fa-star mand"></i>
                            </label>
                            <div class="position-relative">
                                <input cFormControl class="form-control" placeholder="dd-mm-yyyy" name="dtOfferTo"
                                    ngbDatepicker #datepickerOfferTo="ngbDatepicker" [(ngModel)]="dtOfferTo"
                                    (dateSelect)="onDateSelectTo($event)" [minDate]="{year: 1978, month: 1, day: 1}" />
                                <button class="btn btn-outline-secondary form-datepicker"
                                    (click)="datepickerOfferTo.toggle()" type="button"><svg cIcon
                                        name="cilCalendar"></svg>
                                </button>
                            </div>
                        </c-col>
                    </c-row>
                </div>

                <div class="d-flex m-0 row w-100">
                    <c-row class="container">
                        <c-col sm="12" md="6" lg="6" class="c-block">
                            <label cLabel class="col-sm-6 text-end form-label m-0 m-2 me-4" for="Active">
                                Active
                                <i class="fa fa-star mand"></i>
                            </label>
                            <c-form-check [switch]="true">
                                <input cFormCheckInput type="checkbox" [(ngModel)]="roomType.Active" name="Active" />
                                <label cFormCheckLabel></label>
                            </c-form-check>
                        </c-col>
                    </c-row>
                </div>
                <br>
                <c-row class="cta">
                    <c-col sm="12" md="3">
                        <button cButton class="btn btn-light w-100 mb-1 p-1 text-black" type="button"
                            (click)="newRoomType()">
                            <svg cIcon name="cil-paper-plane" size="sm" class="me-2" title="Paper Plane Icon"></svg>
                            New</button>
                    </c-col>
                    <c-col sm="12" md="3">
                        <button cButton class="btn btn-success w-100 mb-1 p-1 text-black" type="button"
                            (click)="SaveEdit()">
                            <svg cIcon name="cil-task" size="sm" class="me-2" title="cil-task"></svg>
                            Save</button>
                    </c-col>
                    <c-col sm="12" md="3">
                        <button cButton class="btn btn-warning w-100 mb-1 p-1 text-black" type="button"
                            (click)="editData()">
                            <svg cIcon name="cil-pencil" size="sm" class="me-2" title="cil-pencil"></svg>
                            Edit</button>
                    </c-col>
                    <c-col sm="12" md="3">
                        <button cButton class="btn btn-danger w-100 mb-1 p-1 text-black"
                        (click)="toggleConfirmation()"  type="button">
                            <svg cIcon name="cil-trash" size="sm" class="me-2" title="cil-trash"></svg>
                            Delete</button>
                    </c-col>
                </c-row>
            </c-card-body>
        </c-card>
    </c-col>

    <c-col xs="4">
        <c-card class="mb-3">
            <c-card-body class="p-4">
                <div class="d-flex m-0 row w-100">
                    <c-row class="container">
                        <div class="d-flex m-0 row w-100">
                            <div class="container">
                                <div [cFormFloating]="true" class="col-sm-12">
                                    <input cFormControl id="mamber" placeholder="Search Bulding" type="text"
                                        (keyup)="search($event)" />
                                    <label cLabel for="mamber">Search Room Type</label>
                                </div>
                       
                                <div class="rate-list-table">
                                    <table cTable [responsive]="true" [bordered]="true">
                                        <thead cTableColor="dark">
                                            <tr>
                                                <th scope="col" class="text-center small">#</th>
                                                <th scope="col" class="text-center small">Room Type Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let bld of roomtypes;let i= index;">
                                                <th scope="row" class="small text-center">{{i+1}}</th>
                                                <td class="text-left"  (click)="ShowRoomType(bld.RoomTypeID)" 
                                               
                                                >{{bld.RoomType}}</td>
                                              
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </c-row>
                </div>
            </c-card-body>
        </c-card>
    </c-col>

    <c-col sm="4" class="mt-3 toaster" *ngIf="toasterShow">
        <c-toaster [placement]="positionStatic" [ngStyle]="{display: 'contents'}">
            <c-toast [fade]="true" [visible]="true" color="{{toasterColor}}">
                <c-toast-body class="text-white">{{toasterText}}</c-toast-body>
            </c-toast>
        </c-toaster>
    </c-col>
</c-row>
<c-modal class="customModal" id="confirmationModal" [visible]="toggleConfirmationModal">
    <c-modal-header>
        <button (click)="toggleConfirmation()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>Are you sure want to delete this coupon {{ roomType.RoomType }}?</c-modal-body>
    <c-modal-footer>
        <button (click)="toggleConfirmation()" cButton color="secondary">
            Close
        </button>
        <button cButton color="danger" (click)="deleteData()">Delete</button>
    </c-modal-footer>
</c-modal>